<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Weather React App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <h4 class="center-align">Weather App</h4>

    {{{ body }}}

    <p class="center-align footer">
        By Neil Gebhard
        <a href="https://github.com/neilgebhard/react-weather"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
        <a href="mailto:neilgebhard@gmail.com?Subject=From%20Your%20Weather%20App"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
        <a href="https://twitter.com/judobaseball"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/in/neil-gebhard-3a72068a"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
    </p>

    <script src="https://use.fontawesome.com/699e05797e.js"></script>
    <script src="js/bundle.js"></script>
  </body>
</html>
